body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}


.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#222;

padding:20px 50px;

}


.navbar h2{

color:white;

}


.navbar a{

color:white;

margin:20px;

text-decoration:none;

}


.dashboard{

text-align:center;

}


.card{

background:white;

margin:20px auto;

padding:20px;

width:70%;

border-radius:10px;

}


input{

padding:10px;

margin:5px;

}


button{

padding:10px 20px;

background:black;

color:white;

border:none;

}